*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
}



html{
    --main-color: rgb(192, 162, 106);
    --secondary-color: rgb(131, 192, 142);
    --tertiary-color: rgb(217, 219, 218);

    background-color: var(--tertiary-color);
}

@font-face {
    font-family: 'Eagle Horizon'; 
    src: url('font-import/EagleHorizonP.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }

body {
    margin-right: 8%;
    height: 100vh;
}

.grand-container {
    display: flex;
}


img {
    width: 32vw;
    height: 100%;
    object-fit: cover;
    display: block;
}

.parent-right-container {
    margin-top: 6%;
}

form {
   background-color: var(--secondary-color);
   display: flex;
   flex-direction: column;
   align-items: baseline;
   gap: 6px;
   border-radius: 16px;
   padding: 3%;
   width: 75vw;
}

label, input {
    display: block;
    margin-right: 4em; 
}

input {
    border-color: var(--tertiary-color);
    border-radius: .2rem;
    border-width: 1px;
    padding: 1%;
    padding-left: 2%;
}

input:focus {
    outline: none;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 8px 0 var(--main-color);
}

/* .passwords:invalid {
    border-color: red;
} */

input.passwords:invalid:not(:placeholder-shown) {
    border-color: red;
  }

#intro {
    font-family: 'Eagle Horizon';
    /* height: 33vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    font-size: 1.2rem;
    margin-right: 20%;
    margin-bottom: 6%;
}

h1 {
    font-size: 1.15rem;
    padding-bottom: 2%;
}

.form-container {
    display: flex;
    gap: 6px;
}

.bottom-right-container {
    padding: 3%;
}

button {
    margin-bottom: 4%;
    background-color: var(--main-color);
    color: var(--tertiary-color);
    font-weight: 1000;
    border-style: hidden;
    padding: .75rem 3rem;
    border-radius: .3rem;
}

#quip {
    margin-top: 1rem;
}