*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
}

html{
    --main-color: rgb(192, 162, 106);
    --secondary-color: rgb(131, 192, 142);
    --tertiary-color: rgb(217, 219, 218);

    background-color: var(--tertiary-color);
}

@font-face {
    font-family: 'Eagle Horizon'; 
    src: url('font-import/EagleHorizonP.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }

body {
    margin-right: 8%;
    height: 100vh;
}

.grand-container {
    display: flex;
}


img {
    width: 25vw;
    height: 150vh;
}

.parent-right-container {
    margin-top: 26px;
}

form {
   background-color: var(--secondary-color);
   display: flex;
   flex-direction: column;
   align-items: baseline;
   gap: 6px;
   border-radius: 16px;
   padding: 3%;
   width: 75vw;
}

label, input {
    display: block;
    margin-right: 4em; 
}

#intro {
    font-family: 'Eagle Horizon';
    /* height: 33vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    font-size: 16px;
    margin-right: 20%;
}

h1 {
    font-size: 1.15rem;
    padding-bottom: 2%;
}

.form-container {
    display: flex;
    gap: 6px;
}

.bottom-right-container {
    padding: 3%;
}

button {
    margin-bottom: 4%;
    background-color: var(--main-color);
    border-style: hidden;
    padding: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: .3rem;
}

#quip {
    margin-top: 1rem;
}